{% extends 'base.html' %}

{% block content %}


<div class="container">
<h1>Update Profile</h1>
<h5><a href="{% url 'history' %}"> My Orders</a></h5>
<form class="row g-3" method="post">
{% csrf_token %}

  <div class="col-md-6">
    <label for="validationServerUsername" class="form-label">{{ form.first_name.label }}</label>
    <div class="input-group has-validation">
      {{ form.first_name }}
    </div>

         {% if form.first_name.errors %}
                <div class="error">
                    {% for error in form.first_name.errors %}
                    <span>{{ error|escape }}</span>
                    {% endfor %}
                </div>
    {% endif %}

  </div>

    <div class="col-md-6">
    <label for="validationServerUsername" class="form-label">{{ form.last_name.label }}</label>
    <div class="input-group has-validation">
      {{ form.last_name }}
    </div>
         {% if form.last_name.errors %}
                <div class="error">
                    {% for error in form.last_name.errors %}
                    <span>{{ error|escape }}</span>
                    {% endfor %}
                </div>
    {% endif %}
  </div>


    <div class="col-md-12">
    <label for="validationServerUsername" class="form-label">{{ form.email.label }}</label>
    <div class="input-group has-validation">
      {{ form.email }}
    </div>

             {% if form.email.errors %}
                <div class="error">
                    {% for error in form.email.errors %}
                    <span>{{ error|escape }}</span>
                    {% endfor %}
                </div>
    {% endif %}
  </div>

      <div class="col-md-12">
    <label for="validationServerUsername" class="form-label">{{ form.phone.label }}</label>
    <div class="input-group has-validation">
      {{ form.phone }}
    </div>

    {% if form.phone.errors %}
                <div class="error">
                    {% for error in form.phone.errors %}
                    <span>{{ error|escape }}</span>
                    {% endfor %}
                </div>
    {% endif %}
  </div>

  <div class="col-12">
    <button class="btn btn-primary" type="submit">Update Profile</button>
  </div>

</form>
</div>


{% endblock content %}
